html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

#__next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


.player-wrapper {
  position: relative;
  border-radius: 5px;
  height:288px;
  width:162px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.react-player > div {
  position: absolute;
}




.react-player > .ytp-title-text {
  font-size: 14px;
  white-space: break-spaces;
}


.swiper {
  width: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
  height: 100% !important;
  top: 23px !important;
  left: 0px !important;
  width: 40px;
  text-shadow: 1px 1px 2px black;
}

.swiper-button-next{
  height: 100% !important;
  top: 23px !important;
  right: 0px !important;
  width: 40px;
  text-shadow: 1px 1px 2px black;
}